<!DOCTYPE html>
<html>
<head>
  <title>AirGoT</title>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB5XQD6JC-xWGzMaDon-g4EcQDuLfGwirQ'%>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/dbsxgncvx/image/upload/v1478035701/logo3_up1bhc.png">
  <link href="https://fonts.googleapis.com/css?family=Philosopher:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
